* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

body {
	overflow-x: hidden;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
}

textarea {
	width: 90%;
	height: 30vh;
	border: solid black 2px;
	padding: 10px;
	margin: 10px 0;
	font-size: 1rem;
	resize: vertical;
	overflow-y: auto;
}

button {
	color: #fff;
	background: blue;
	margin: 5px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.7s ease;
	font-size: 1rem;
	width: 100px; 
	height: fit-content; 
	padding: 5px;
}

button:hover {
	background: darkblue;
}

p {
	width: 95%;
	word-wrap: break-word;
	overflow-y: auto;
}
b{
	text-align: left;
}
h1, h2{
	margin: 5px; 
}
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar {
	position: sticky;
	top: 0;
	background: darkblue;
}
.navbar ul{
	list-style: none;
	display: flex;
}
.navbar ul .navbtn{
	padding: 10px;
	color: #fff;
	text-decoration: none;
	text-decoration: solid;
}
.navbtn{
	background: none;
}
.login{
	margin: 10vh;
	padding: 5px;
	height: 90%;
	width: 90vh;
	border: 1px solid black;
	background: #f9f9f9;
}
input{
	width: 50%;
	padding: 3px;
	border: 1px solid black;
	border-radius: 10px
}
/* Tablet screens */
@media screen and (min-width: 600px) {
	#main {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	textarea,
	p {
		width: 90%;
	}
}

/* Desktop screens */
@media screen and (min-width: 1024px) {
	#main {
		width: 75vw;
		height: auto;
		margin: auto;
	}

	textarea,
	p {
		width: 100%;
		height: 200%;
	}
}
